body {
    color: darkslateblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#container {
    color: black;
    width: 70%;
    border: 1px solid #DDD;
}